#mantra{
	height:85vh;
	color: white;
	background-image:url(Assets/vegggie\ pizza.jpeg);
	background-repeat: no-repeat;
	background-size: cover;
}
nav{
	margin:0;
	padding: 0;
	background-color:darkgrey;
	height:40px;
	color:white;
	width: 100%;
	position: fixed;
	z-index: 1;
	
}
/* .box{
	width: 700px;
} */
.box ul li{
	width: 80px;
	display: inline-block;
	margin: 10px auto;
	text-align: center;
}
.box ul li a{
text-decoration: none;
color: yellow;
margin-right: 10px;
font-size: larger;
}
.box ul li:hover{
	background-color: darkslategray;
}
/* .box ul li a:hover{
	background-color:yellow;

} */
.md{
	width: 290px;
	height: 290px;
	background-color: black;
	opacity: 0.7;
	padding: 60px;
	background-image: url(Assets/back3.jpg);
	background-repeat: no-repeat;
	transition: 15s;
	position: relative;
	top: 8%;
}
.bites{
	text-align: center;
	position: relative;
	top: 5%;
}
h2{
	text-align: center;
}
#mojo{
/* background-color: yellowgreen; */
}
#munchez{
	margin-top: 55px;
    margin-bottom: 10px;
}
#menu{
	background-color: whitesmoke;
	margin-top: 20px;
    margin-bottom: 10px;
}
#para{
	display: none;
}
#order-pizza {
	color: #000;
  }
  
  #list li {
	font-size: 24px;
	font-family: system-ui, serif;
  }
  
  .order-summary h1, .summary, .contact {
	color: #000;
	margin-top: 20px;
  }
  
#summary{
	color: white;
}
  
  
.checkout {
	border-radius: 20px;
	margin-top: 20px;
  }
  
  #list {
	color:white;
  }
  

